*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.barra1{
    width:100%;
    height:90px;
    background: white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 50px;
}

.logo img{
    width:130px;
    height:auto;

    border-radius: 90px;

    margin-top: 70px;
}

.search-container{
    flex:1;
    display:flex;
    justify-content:center;
    margin:0 40px;
}

.search-container input{
    width:100%;
    max-width:800px;
    height:55px;
    border:4px solid #000;
    border-radius:50px;
    padding:0 25px;
    font-size:18px;
    outline:none;
}

.icons{
    display:flex;
    gap:40px;
}

.icons a{
    color:#000;
    font-size:42px;
    transition:.3s;
}

.icons a:hover{
    transform:scale(1.1);
}


@media (max-width: 768px){

    .barra1{
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 15px;
    }

    .logo img{
        width: 120px;
    }

    .search-container{
        width: 100%;
        margin: 0;
    }

    .search-container input{
        width: 100%;
        height: 45px;
        font-size: 16px;
    }

}